@charset "utf-8";

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  display: flex;
  align-items: center;
  background-color: #3397DB;
  align-items: center;
  padding: 15px 20px;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin: 0 20px 0 0;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  height: 35px;
  letter-spacing: 0;
  margin-right: 20px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, 380px);
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

#restaurants-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 20px;
  min-height: 380px;
  padding: 20px;
  text-align: left;
  width: 270px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
