@charset "utf-8";
/* CSS Document */

/* ====================== Navigation ====================== */

#breadcrumb {
  padding: 10px 20px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
  text-align: left;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

.inside main {
  margin-top: 100px;
	margin-bottom: 70px;
}

.inside #footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100% - 165px);
  position: fixed;
  right: 0;
  top: 100px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  height: auto;
  width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-info-container {
	display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
	width: 50%;
}

#restaurant-container,
#reviews-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
	padding: 30px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
	margin-top: 20px;
  padding-bottom: 1pt;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: -1px;
	margin-top: 20px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
	width: 100%;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  overflow: hidden;
  padding: 10px 20px;
	margin-bottom: 15px;
}

#restaurant-hours td {
  color: #666;
}
